nav{

    background-color: black;
    font-size: 24px;
    a{
      text-decoration: none;
      color: white;
    }
  }
  
  .topBar{
  
    width: 100vw;
    height: 9vh;
  
    display: flex;
    flex-direction: column;
  
    position: fixed;
    z-index: 2;
  
    ul{
  
      color: white;
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
  
      margin: auto 0;
      padding: 0 8rem 0 2rem;
    }
  
    .li-logo{
  
      display: flex;
      align-items: center;
      font-weight: 500;
      color: rgb(230, 0, 0) ;
  
    }
  
    .img-logo{
  
      height: 57px;
  
      margin: 0 1rem 0 0 ;
    }
  }

  option{
    background-color: black;
    color: white;
    font-size: 24px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: min-content;
    min-height: none !important;
    position: relative;
    top: 3rem;
  }

  select{
    background-color: black;
    font-size: 24px;
    color: white;
    font-family: system-ui, Roboto;
    border: 0;
    width: min-content;
  }